<img id="babe" class="responsive-choice valign left-pic images" src="{{ babe }}">
<div class="waves-effect waves-light">
	<img id="cock1" class="responsive-choice valign center-pic images hoverable" src="{{ cocks[0].link }}" data-cock="{{ cocks[0].fullname }}">
</div>
<div class="waves-effect waves-light">
	<img id="cock2" class="responsive-choice valign center-pic images hoverable" src="{{ cocks[1].link }}" data-cock="{{ cocks[1].fullname }}">
</div>
<div class="waves-effect waves-light">
	<img id="cock3" class="responsive-choice valign right-pic  images hoverable" src="{{ cocks[2].link }}" data-cock="{{ cocks[2].fullname }}">
</div>
